<footer class="py-4" style="background-color: #2980b9; color: white;">
    <div class="container text-center">
        <p>© 2024 API Almacen. Universidad Europea del Atlántico.</p>
    </div>
</footer>

</body>
</html>